/*
  Name: Richard Huynh
  Date: 08.28.2022
  Section: CSE 190E
  This is the style.css page for my webpage. All stylistic
  formatting of my texts and images are all made here. Using
  this gives my website a more cohesive feel and for the
  user to navigate easily.
*/
body {
  background-color: skyblue;
  background-image: url("img/back-img.jpg");
  /*
  I found this background image here at
  https://www.pexels.com/search/sky%20background
  */
  background-size: cover;
  background-repeat: no-repeat;
}

h3 {
  text-align: center;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  background-color: blanchedalmond;
}

h4 {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
}

h5 {
  font-size: 20px;
}

p {
  font-family: "Arial", "Helvetica", sans-serif;
}

ul {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 20px;
}

footer {
  text-align: center;
  background-color: blanchedalmond;
  border-style: solid;
  border-radius: 10px;
}

iframe {
  width: 400px;
  height: 300px;
  margin-left: 50px;
  margin-bottom: 30px;
}
/*
Navigation Style
*/
nav {
  text-align: center;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}

a {
  margin-right: 30px;
}

a:link {
  color: aquamarine;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: turquoise;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: coral;
  background-color: transparent;
  text-decoration: none;
}
/*
Classes
*/
.profile-pic {
  width: 190px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  border-width: 10px;
  border-color: blanchedalmond;
  border-style: solid;
}

.flexbox-container {
  display: flex;
  justify-content: space-between;
}

.flexbox-item {
  width: 300px;
  margin: 50px;
  padding: 0.5%;
  border: 3px solid black;
  background-color: blanchedalmond;
  border-radius: 20px;
}

.flexbox-item-1 {
  min-height: 100px;
  text-align: center;
}

.flexbox-item-2 {
  min-height: 200px;
  text-align: left;
}

.flexbox-item-3 {
  min-height: 300px;
  text-align: left;
}

.flexbox-container-2 {
  display: flex;
  justify-content: center;
}

.flexbox-item-4 {
  min-height: 100px;
  width: 350px;
  text-align: center;
}

.snap-logo {
  float: left;
  width: 55px;
  height: auto;
  margin-top: 7px;
  margin-left: 5px;
}

.insta-logo {
  float: left;
  margin-left: 10px;
}

.tiktok-logo {
  float: left;
  height: auto;
  width: 50px;
  margin-top: 7px;
  margin-left: 8px;
}

.discord-logo {
  float: left;
  height: auto;
  width: 60px;
  margin-top: 4px;
  margin-left: 5px;
}

.youtube-logo {
  float: left;
  height: auto;
  width: 55px;
  margin-left: 8px;
}

.photo-gal {
  border-radius: 30px;
  border-color: blanchedalmond;
  border-width: 3px;
  border-style: solid;
  height: 300px;
  width: auto;
  margin-left: 35px;
  margin-right: auto;
  margin-bottom: 10px;
}

.white-heart {
  height: auto;
  width: 20px;
}
/*
ID's
*/
#contact-font {
  font-family: 'Lucida Sans', "Geneva", "Verdana", sans-serif;
}